<h1>Locações</h1>

<%= form_with url: search_rentals_path, local: true, method: 'get' do %>
  <%= label_tag :q, 'Código' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Buscar'%>
<% end %>
<br>
<%= link_to 'Agendar locação', new_rental_path%>
<br>

<%= render partial: 'table', locals: {rentals: @rentals} %>

<%= link_to 'Voltar', root_path %>