<h1><%= @manufacturer.name%></h1>
<br>
<% if @manufacturer.car_models.any? %>
<table>
  <caption><%= @manufacturer.name %> - modelo de carros</caption>
<tr>
  <th>Modelo</th>
  <th>Ano</th>
  <th>Combustivel</th>
  <th>Motor</th>
</tr>
  <% end %>
  <% @manufacturer.car_models.each do |model| %>
  <tr>
    <td><%= link_to model.name, model %></td>
    <td> <%= model.year %></td>
    <td> <%= model.fuel_type %></td>
    <td> <%= model.motorization %></td>
  </tr>
    <% end %>
</table>
<br>

<% if current_user.admin? %>
<div><%= link_to 'Editar Fabricante', edit_manufacturer_path(@manufacturer)%></div>
<% end %>

<div><%= link_to 'Voltar', manufacturers_path%></div>